/* Main stylesheet for index.html */

.fixed {
    position: fixed;
    right: 0px;
}

.title {
    font-family: "DM Serif Display";
    font-size: 50px;
    background-color: black;
    color: white;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: table;
    padding: 40px;
}

.side {
    position: absolute;
    font-family: "DM Sans";
    font-size: 18px;
    background-color: #EEEE99;
    height: 100%;
    margin: 0 !important;
}

.welcome {
    font-family: "DM Serif Display"
}

.gradient {
    background: linear-gradient(to bottom, #ff5555 0%, #eeee99 100%);
    position: absolute;
    height: 5%;
    width: 100%;
}

.who-i-am {
    font-family: "DM Sans";
    font-size: 18px;
    padding: 20px;
}

.p1 {
    position: absolute;
    font-family: "DM Sans";
    font-size: 18px;
    background-color: #EEEE99;
    height: 100%;
    margin: 0 !important;
    width: 66.66%;
}

.quote {
    font-family: "DM Serif Display";
    width: 65%;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.35)
}